#root {
  width: auto;
}

/* OUR CSS */
/* NavBar */
.logo {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  margin-inline-end: 5px;
  margin-inline-start: 10px;
}

.nav {
  width: 100%;
  height: 70px;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(10px);
  z-index: 1;
}

.nav ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
}

.nav ul li a {
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px 10px;
  transition: 0.3s;
}

.nav ul li a:hover {
  font-size: 24px;
  text-shadow: 2px 2px 4px red;
  transition: 0.3s;
}

/* Global */
#about,
#training,
#gallery,
#pricing,
#footer {
  background: black;
}

.container {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding-inline: 15px;
}

.column {
  width: 100%;
  min-height: 1px;
  position: relative;
}

.btn {
  font-size: 18px;
  font-weight: 360;
  color: #ffffff;
  background: none;
  border: 2px solid #fff;
  border-radius: 2px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 12px 48px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  letter-spacing: 2px;
  transition: color 0.4s linear;
  overflow: hidden;
  margin: 0;
}

.btn:hover {
  background: #ff1313;
  transition: 0.4s;
}

.section-title {
  width: 100%;
}

.section-title h2 {
  margin: 0;
  padding: 0;
  font-size: 70px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  display: block;
  margin-block-end: 35px;
  -webkit-text-stroke: 1px #f6f7f8;
  -webkit-text-fill-color: transparent;
}

/* Home */
#home {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("./assets/hero.png");
  background-position: top center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

#home .caption {
  width: 100%;
  padding-inline: 50px;
}

#home .caption span {
  font-size: 70px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  -webkit-text-stroke: 1px #f6f7f8;
  -webkit-text-fill-color: transparent;
}

#home .caption h1 {
  margin: 0;
  padding: 0;
  font-size: 70px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

/* About */
#about .container .row {
  align-items: flex-start;
  padding-inline: 0;
}

#about .container .row .column .sector {
  position: relative;
  padding-block-start: 15px;
  margin-block-end: 30px;
}

#about .container .row .column .sector::before {
  position: absolute;
  width: 100%;
  height: 100%;
  inset-block-start: 0;
  inset-inline-start: 0;
  inset-inline-end: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.sector .sector-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sector .sector-img img {
  width: 90%;
  border-radius: 9px;
}

.sector .content-box {
  width: 100%;
  height: 100%;
  inset-inline-start: 0;
  inset-inline-end: 0;
  transition: 0.5s;
}

.sector .content-box .content {
  inset-inline-start: 0;
  inset-inline-end: 0;
}

.sector .content-box .content h3 {
  font-size: 35px;
  font-weight: 500;
  color: #ff0000;
  text-align: center;
  text-transform: uppercase;
  margin-block-end: 10px;
  transition: 0.5s;
}

.sector .content-box .content p {
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  line-height: 1.5;
  padding: 0 60px;
  margin-block-end: 30px;
}

/* Training */
#training .container .row .column .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-block-end: 50px;
  transition: 0.5s;
}

#training .container .row .column .box .box-img {
  display: flex;
  justify-content: center;
}

#training .container .row .column .box .box-img img {
  width: 60%;
  border-radius: 6px;
}

#training .container .row .column .box .caption h5 {
  margin: 0;
  padding: 10px;
  font-size: 30px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  transition: 0.3s;
}

#training .container .row .column .box .caption p {
  margin: 0;
  padding: 4px;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
  text-align: center;
  transition: 0.4s;
}

/* Gallery */
#gallery .container .row .column .topic {
  position: relative;
  margin-block-end: 30px;
}

#gallery .container .row .column .topic::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  inset-block-start: 0;
  inset-inline-start: 0;
  inset-inline-end: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.topic .topic-img {
  padding: 10px;
}

.topic .topic-img img {
  width: 100%;
  border-radius: 1px;
}

.topic .content-box {
  position: absolute;
  width: 100%;
  height: 100%;
  inset-block-start: 50%;
  transform: translateY(-50%);
  inset-inline-start: 0;
  inset-inline-end: 0;
  transition: 0.5s;
}

.topic .content-box .content {
  position: absolute;
  inset-block-start: 53%;
  transform: translateY(-47%);
  inset-inline-start: 0;
  inset-inline-end: 0;
  text-align: center;
}

.topic .content-box .content h3 {
  font-size: 60px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  padding-block-end: 15px;
  margin-block-end: 15px;
  transition: 0.5s;
}

.topic .content-box .content p {
  font-size: 15px;
  color: #ffffff;
  line-height: 1.5;
  padding: 0 60px;
  margin-block-end: 30px;
}

/* Pricing  */
#pricing .container .row .column .card {
  box-shadow: 0px 6px 6px 0px rgba(2, 32, 64, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.255);
  padding-block-start: 36px;
  padding-block-end: 24px;
  padding-inline: 24px;
  margin-inline: 12px;
  margin-block-end: 32px;
  transition: 0.4s;
}

#pricing .container .row .column .card .icon {
  width: 48px;
  height: 48px;
  color: #ffffff;
  background: #ff0000;
  border-radius: 48px;
  display: inline-block;
  position: relative;
  padding: 16px;
  margin-block-end: 16px;
  box-shadow: 0px 16px 24px rgba(64, 86, 160, 0.08);
}

#pricing .container .row .column .card .details .plan {
  font-size: 30px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
}

#pricing .container .row .column .card .details p {
  font-size: 30px;
  font-weight: 500;
  color: #ff0000;
  text-transform: uppercase;
  margin-block-end: 25px;
}

#pricing .container .row .column .card .details p>span {
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
}

#pricing .container .row .column .card .details .features {
  display: flex;
}

#pricing .container .row .column .card .details .features .check {
  width: 20px;
  height: 20px;
  color: #ff0000;
  display: inline-block;
  position: relative;
  inset-block-start: 20px;
  padding-inline-start: 10px;
}

#pricing .container .row .column .card .details .features p {
  font-size: 16px;
  line-height: 1.6;
  color: #ffffff;
  text-transform: capitalize;
  padding-inline-start: 10px;
}

#pricing .container .row .column .card .details .button {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Contact */
#contact {
  background: #111111;
  padding-block: 40px;
}

#contact .container .row .column .item {
  display: flex;
  align-items: center;
  padding-inline: 20px;
  margin-block-end: 40px;
}

#contact .container .row .column .icon {
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  color: #ff0000;
  display: block;
  position: relative;
  inset-block-start: 20px;
  padding-inline-start: 10px;
  inset-block-start: 10px;
}

#contact .container .row .column .caption {
  padding-inline-start: 20px;
}

#contact .container .row .column .caption h3 {
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  line-height: 1.2;
  margin-block-end: 10px;
}

#contact .container .row .column .caption p {
  font-size: 15px;
  color: #ffffff;
  line-height: 1.5;
  margin-block: 0;
}

/* Footer */
#footer .container .top {
  padding-block-start: 75px;
  padding-block-end: 50px;
}

#footer .container .top .row .column .caption {
  text-align: center;
  margin-block-end: 50px;
}

#footer .container .top .row .column .caption .f-logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block-end: 50px;
}

#footer .container .top .row .column .caption .f-logo img {
  width: 200px;
  height: 50px;
}

#footer .container .top .row .column .caption .f-logo .lang {
  font-size: 15px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  padding-inline-start: 10px;
  margin-block-end: 5px;
}

#footer .container .top .row .column .caption .f-logo .lang select {
  padding: 4px 16px;
  margin-block-start: 4px;
  margin-inline-start: 8px;
}

#footer .container .top .row .column .caption .menu ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
}

#footer .container .top .row .column .caption .menu ul li {
  padding: 15px 10px;
}

#footer .container .top .row .column .caption .menu ul li a {
  font-size: 16px;
  font-weight: 640;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.4s;
}

#footer .container .top .row .column .caption .menu ul li a:hover {
  text-shadow: 2px 2px 4px red;
  transition: 0.4s;
}

#footer .container .top .row .column .social {
  margin-block-start: 30px;
}

#footer .container .top .row .column .social a {
  width: 45px;
  height: 45px;
  border-radius: 50px;
  font-size: 25px;
  color: #ff0000;
  line-height: 50px;
  text-align: center;
  display: inline-block;
  background: rgba(255, 0, 0, 0.1);
  margin-inline-end: 10px;
}

#footer .container .top .row .column .social a:hover {
  color: #ffffff;
  background: #ff0000;
  transition: 0.1s;
}

#footer .container .bottom {
  border-block-start: 2px solid #1f2024;
  padding-block-start: 40px;
  padding-block-end: 50px;
  margin-inline: 30px;
}

#footer .container .bottom .row .column .copy-right {
  font-size: 16px;
  font-weight: 320;
  color: #c4c4c4;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block-end: 16px;
}


/* Responsive*/
/* Start of desktop styles */
.show-nav,
.hide-nav {
  display: none;
}

#about .column,
#gallery .column,
#footer .column {
  max-width: 50%;
}

#training .column,
#pricing .column,
#contact .column {
  max-width: 33%;
}

@media screen and (max-width: 1199px) {

  #training .column {
    max-width: 50%;
  }

  #footer .column {
    max-width: 60%;
  }
}

@media screen and (max-width: 991px) {

  /* Start of large tablet styles */

  #home .caption span,
  #home .caption h1 {
    font-size: 50px;
  }

  #about .column,
  #training .column,
  #gallery .column {
    max-width: 100%;
  }

  #pricing .column,
  #contact .column {
    max-width: 50%;
  }

  #footer .column {
    max-width: 75%;
  }

  #about .container .row .column .sector {
    margin-block-end: 0px;
  }

  .sector .sector-img img {
    width: 60%;
  }

  .sector .content-box .content h3 {
    margin-block-start: 10px;
  }

  .sector .content-box .content p {
    font-size: 15px;
    margin-inline: 10px;
    margin-block-start: 5px;
    margin-block-end: 60px;
  }
}

@media screen and (max-width: 767px) {

  /* Start of medium tablet styles */

  .show-nav,
  .hide-nav {
    position: absolute;
    font-size: 30px;
    color: #ffffff;
    display: block;
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
    inset-block-start: 20px;
    inset-inline-end: 30px;
  }

  .nav {
    height: 300px;
    flex-direction: column;
    justify-content: center;
    backdrop-filter: blur(10px);
    transform: translateY(-100vh);
    transition: 1s;
  }

  .nav ul {
    gap: 10px;
    flex-direction: column;
    justify-content: center;
  }

  .logo {
    position: absolute;
    inset-block-start: 10px;
    inset-inline-start: 10px;
  }

  .responsive {
    transform: none;
  }

  .section-title h2 {
    font-size: 50px;
  }

  #home .caption span,
  #home .caption h1 {
    font-size: 35px;
  }

  #gallery .column {
    margin-block-end: 25px;
  }

  #pricing .column,
  #contact .column {
    max-width: 75%;
  }

  #footer .column {
    max-width: 90%;
  }
}

@media screen and (max-width: 479px) {

  /* Start of phone styles */

  .section-title h2 {
    font-size: 35px;
  }

  #home .caption span,
  #home .caption h1 {
    font-size: 25px;
  }

  #about h3,
  #gallery h3 {
    font-size: 25px;
  }

  #pricing .column,
  #contact .column {
    max-width: 100%;
  }

  #footer .column {
    max-width: 100%;
  }

  .sec .content-box .content p {
    padding: 0 30px;
  }
}